<template>
  <div class="container">
    <div class="empresa">
      <div class="row">
        <div class="col-md-3">
          <select class="form-control" v-model="selected" @change="getFuncionarios(selected)">
            <option disabled value="">Selecione uma empresa</option>
            <option v-for="empresa in empresas" :key="empresa.id" :value="empresa.id">{{empresa.company_name}}</option>
          </select>
          <div :value="selected" id="emp-selected"></div>
        </div>
      </div>
    </div>
    <h4><p align="center">Funcionários </p></h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Cargo</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="funcionario in funcionarios" :key="funcionario.id">
            <th scope="row">{{funcionario.id}}</th>
            <td>{{funcionario.first_name}}</td>
            <td>{{funcionario.last_name}}</td>
            <td>{{funcionario.office}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</template>

<script>

export default {
  data () {
    return {
      empresas: [],
      funcionarios: [],
      selected: ''
    }
  },
  mounted () {
    this.$http.get('http://localhost/empresa').then((response) => {
      response.json().then((data) => {
        this.empresas = data
        console.log('success', response)
      })
    }, (response) => {
      console.log('error', response)
    })
  },
  methods: {
    getFuncionarios (idEmpresa) {
      let url = 'http://localhost/empresa/'
      let newUrl = url.concat(idEmpresa)
      this.$http.get(newUrl).then((response) => {
        response.json().then((data) => {
          this.funcionarios = data
          console.log('success', response)
        })
      }, (response) => {
        console.log('error', response)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.empresa {
  margin-top: 30px;
}
</style>
